{% extends 'template.twig' %}
{% block content %}
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <h2 class="section-heading text-white">O que podemos lhe oferecer?</h2>
                    <hr class="light">
                    <p class="text-faded">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
                    <a class="btn btn-default btn-xl sr-button" href="#services">Nossos serviços</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Os nossos serviços</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-mobile text-primary sr-icons"></i>
                        <h3>Tecnologia movel</h3>
                        <p class="text-muted">xxxxxxxxxxxxxxxxxxxxxxxx</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-google text-primary sr-icons"></i>
                        <h3>Google</h3>
                        <p class="text-muted">xxxxxxxxxxxxxxxxxxxxxxxx</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-laptop text-primary sr-icons"></i>
                        <h3>XXXXXXXXX</h3>
                        <p class="text-muted">xxxxxxxxxxxxxxxxxxxxxxxx</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-shopping-cart text-primary sr-icons"></i>
                        <h3>E-commerce</h3>
                        <p class="text-muted">Ja pensou em ter uma loja virtual? Vender pela internet hoje em dia pode fazer toda diferencia para o seu negócio.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-handshake-o text-primary sr-icons"></i>
                        <h3>XXXXXXXXX</h3>
                        <p class="text-muted">xxxxxxxxxxxxxxxxxxxxxxxx</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-desktop text-primary sr-icons"></i>
                        <h3>Ranqueamento no Google</h3>
                        <p class="text-muted">xxxxxxxxxxxxxxxxxxxxxxxx</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>XXXXXXXXX</h3>
                        <p class="text-muted">xxxxxxxxxxxxxxxxxxxxxxxx</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-line-chart text-primary sr-icons"></i>
                        <h3>XXXXXXXXX</h3>
                        <p class="text-muted">xxxxxxxxxxxxxxxxxxxxxxxx</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Alguns dos nossos trabalhos</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
                        <img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
                        <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
                        <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
                        <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">
                        <img class="img-fluid" src="img/portfolio/thumbnails/5.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">
                        <img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <h2 class="section-heading">Para mais informações entre em contato</h2>
                    <hr class="primary">
                    <p>Não perca tempo, entre em contato conosco agora mesmo para obter mais informações. Sua empresa agradece!</p>
                </div>
                <div class="col-lg-4 offset-lg-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>+55 (43) 9 9131-2016</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a class="mailto" href="mailto:contato@webthing.com.br">contato@webthing.com.br</a></p>
                </div>
            </div>
            <div class="contact-section row">                
                <form>
                    <div class="col-md-6 form-line left">
                        <div class="form-group">
                            <label for="exampleInputUsername">Nome</label>
                            <input type="text" class="form-control" id="" placeholder="Informe o seu nome">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail">E-mail</label>
                            <input type="email" class="form-control" id="email" placeholder="Informe seu endereço de e-mail">
                        </div>	
                        <div class="form-group">
                            <label for="telephone">Telefone</label>
                            <input type="tel" class="form-control" id="tel" placeholder="Informe seu telefone">
                        </div>
                    </div>
                    <div class="col-md-6 right">
                        <div class="form-group">
                            <label for="company">Empresa</label>
                            <input type="tel" class="form-control" id="company" placeholder="Informe o nome da empresa">
                        </div>
                        <div class="form-group">
                            <label for ="description"> Mensagem</label>
                            <textarea  class="form-control" id="description" placeholder="Digite sua mensagem"></textarea>
                        </div>
                        <div>

                            <button type="button" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Enviar mensagem</button>
                        </div>
                        
                    </div>                    
                </form> 
            </div>
        </div>
    </section>
{% endblock %}    